body{
	font-family: georgia;
	font-size: 18px;
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #f2f2f7;
	/*background: transparent;*/
	
}
header{
	background: white;
	color: black;
	min-height: 40px;
	text-transform: capitalize;
    text-align: center;  
}
.heading{

	box-shadow:0px 8px 8px -8px black;
	min-height: 70px;
	width: 100%;
}
.headingmenu{
	box-shadow:0px 8px 8px -8px black;
	margin-top: 0px;
	overflow: visible;
	width: 100%;
	min-height: 50px;
}
.headingmenu .iconExpand {
	float: left;
  display: none;
  color: blue;
  margin-left: 20px;
  font-size: 35px;
}
.headingmenu ul{
  list-style: none;
  margin: 0;  
}
 ul li{
  min-width: 100px;
  float: right;
  padding: 15px;
  position: relative;
  cursor: pointer;
  box-shadow:2px 2px 4px 0px black;
}
.headingmenu ul li{
  color:blue;
}
.headingmenu ul li:hover{
  background-color: #ddd;
}
a{
	text-decoration: none;
	color:blue;
}
.headingmenu ul li ul{
	display: none;
	height: auto;

}
ul li ul li{

	width: 250px;
	box-shadow:0px 0px 0px 0px black;
	border-top:solid 1px white;
	opacity: 1;
	background-color: #3267AD;
}
ul li ul li a{
	color: white;
}
ul li ul li:hover a{
	color: blue;
}
#pic{
	height: 150px;

}
#profPic{
	border-radius: 100%;
	border-bottom:solid 1px white;
	margin: 10px 0 10px 0;
	background-color: #ddd;
}
#prof{
	margin-left: 20px;
	float: left;
}

li.down:hover ul{
	position: absolute;
	display: block;
	margin-top:15px;
	border-radius: 0 8% 8% 8%;
	margin-left: -10%;	
	background-color: #3267AD;
	padding: 0 15px 15px 15px;

}

#main{
	float: center;
	width: 100%;
	height: 100%;	
}
#main.mainlogin{
	float: center;
	height: 450px;	
}

#log1{
	opacity: 0.8;
	border-radius: 100%;
	width: 300px;
	height: 300px;
	background-color: #3267AD;
	box-shadow:0px 3px 4px 2px black;
}
#log1.log1login{
	margin-top: 70px;
}
#log2{
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	border-radius: 100%;
	width: 80%;
	height:80%;
	background-color: #f2f2f7;
	box-shadow:0px 3px 4px 2px black;
}
#log3{
	float: left;
	margin-left: 140px;
	margin-top: 180px;
	border-radius: 0%;
	width: 35px;
	height: 150px;
	background-color: #3267AD;
	border-bottom-left-radius: 80%;
	border-top-right-radius: 80%;
	animation-name:mylogo;
	animation-duration:3s;
}
#log3.viewsform{
	margin-top: 20px;
}
#log3.viewshistory{
	margin-top: 80px;
}
#allforms{
	opacity: 0.8;
	width: 480px;
	padding-left: 50px;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	border-left:solid 30px #3267AD;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow:0px 1px 2px 1px black;
	
}
#allforms.views{
	min-width: 1068px;
	border-bottom-left-radius: 40%;
	border-top-left-radius: 40%;
}
.views form{
	min-height: 450px;
	width: 100%;
	}
#allforms.loginform{
	margin-top: -50px;
}

form h1{
	text-align: center;
	width: 86%;
	padding: 10px;
	color: white;
	background-color:#3267AD;
	margin-top: 0px;
	margin-left: 50px;
	height: 55px;
	text-transform: uppercase;
	border-radius: 15px;
	border-top-left-radius: 44%;
}
.views form h1{
	width: 94%;
}
.headAnimation{
	
	margin-left: 31%;
	display: flex;
}
h1 span{
	opacity: 0.5;
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
	animation:myheader 3s infinite;
}
h1 span:nth-child(1){
	animation-delay:0s;
}
h1 span:nth-child(2){
	animation-delay:0.25s;
}
h1 span:nth-child(3){
	animation-delay:0.5s;
}
h1 span:nth-child(4){
	animation-delay:0.75s;
}
h1 span:nth-child(5){
	animation-delay:1s;
}
h1 span:nth-child(6){
	animation-delay:1.25s;
}
h1 span:nth-child(7){
	animation-delay:1.5s;
}h1 span:nth-child(8){
	animation-delay:1.75s;
}
h1 span:nth-child(9){
	animation-delay:2s;
}
h1 span:nth-child(10){
	animation-delay:2.25s;
}
h1 span:nth-child(11){
	animation-delay:2.5s;
}
h1 span:nth-child(12){
	animation-delay:2.75s;
}
h2.underanimation{
	vertical-align: 50%;
	font-family: sans-serif;
	font-size: 18px;
	text-transform: none;
	padding: 0 0 15px 0;
	opacity: 0.4;
}
input,#feedback,select{
	float: center;
	padding-left: 20px;
	height: 40px;
	width: 75%;
	border:0px;
	text-align: left;
	border-radius: 50px;
	font-size: 18px;
	margin-left: 50px;
	box-shadow:0px 1px 3px 1px black;

}
.tenorval{
	max-height: 50px;
}
#feedback{
	display: none;
}
input.allbutt{
	margin-top: 10px;
	text-align: center;
	color: white;
	background-color: #3267AD;
}
input.allbutt:hover{
	cursor: pointer;
	font-size: 20px;
	
}
#unverifiedbutton,#verifiedbutton,#allusersbutton{
	width: 70%;
	height: 30px;
	margin-left: 25px;
	
}
#unverifiedbutton{
	margin-top: 50px;
}
form p{
	
	height: 20px;
	text-align: left;
	padding-left: 55px;
	margin-bottom: 4px;
	
}
section{
	 box-shadow:0px 18px 16px -16px black;
}
table{
	margin-left: 50px;
	padding: 0px;
	overflow: hidden;
	font-size: 14px;
	opacity: 0.8;

}
th{
	width: 250px;
	background-color:#3267AD;
	color: white;
	overflow: hidden;
    border-spacing:solid,1px,white;
}
tr{
	background-color: silver;
}
.tablebutton{
	background-color: #3267AD;;
	height: 16px;
	padding: 2px;
	font-size: 12px;
	width: 80px;
	color:white;
	text-align: center;
	cursor: wait;
}
footer{
	margin-top: 10px;
	background:  silver;
	color: white;
	padding: 10px;
	height: 60px;
	text-align: center;
	border-top: black 0px solid;
	max-height: 100px;
}
@keyframes mylogo{
	0% { 
		background-color: black;
		width: auto;
	}
	25% { 
		background-color: yellow;
		width: auto%;
	}
	50% { 
		background-color: #3267AD;
		width: auto%;
	}
	100% { 
		background-color: #f2f2f7;
		width: auto%;
	}
	
}
@keyframes myheader{
	50%,50% { 
		color: #3267AD;
		filter:blur(0px);
		background-color: white;
		


	}
	0%,100% { 
		color: white;
		filter:blur(0px);
		background-color: blue;
		text-shadow:none;
	}	
}
